@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
  padding: 15px;
  background-color: #bb2339;
}
.header ul {
  gap: 40px;
}
.header ul .navbar__link {
  color: white;
  text-decoration: none;
}
.header ul .navbar__btn {
  padding: 10px 32px;
  size: 16px;
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.5s;
  color: white;
  border: 2px solid white;
  text-decoration: none;
}
.header ul .navbar__btn:hover {
  background-color: white;
  color: #bb2339;
  box-shadow: 0 0 6px white;
}

.contact h2 {
  margin-top: 150px;
}
.contact .contact__wrapper {
  display: flex;
  justify-content: space-evenly;
}
.contact .contact__wrapper .contact__wrapper-contacts .contact__wrapper-contacts-contact {
  margin-top: 40px;
  margin-bottom: 15px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  border-radius: 14px;
  display: grid;
  max-width: 420px;
  grid-template-columns: 1fr 3fr;
  justify-items: start;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact .contact__wrapper .contact__wrapper-contacts .contact__wrapper-contacts-contact img {
  width: 40px;
  height: 40px;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 18px;
}
.contact .contact__wrapper .contact__wrapper-contacts .contact__wrapper-contacts-contact h5 {
  font-size: 22px;
  font-weight: 600;
  color: #242424;
}
.contact .contact__wrapper .contact__wrapper-contacts .contact__wrapper-contacts-contact p {
  margin-bottom: 0px;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  opacity: 0.6999999881;
  text-align: start;
}
.contact .contact__wrapper .contact__wrapper-inputs {
  margin-top: 40px;
  margin-bottom: 110px;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 3rem;
  border: 1px solid #aaaaaa;
  border-radius: 14px;
}
.contact .contact__wrapper .contact__wrapper-inputs h2 {
  margin-top: 40px;
  margin-bottom: 16px;
  font-size: 38px;
  font-weight: 600;
  line-height: 34px;
  text-align: start;
  color: #242424;
}
.contact .contact__wrapper .contact__wrapper-inputs p {
  margin-bottom: 40px;
  display: flex;
  max-width: 565px;
  flex-direction: column;
  flex-shrink: 0;
  color: #242424;
  font-size: 16px;
  text-align: start;
}
.contact .contact__wrapper .contact__wrapper-inputs form div input {
  margin-right: 20px;
  margin-bottom: 16px;
  height: 50px;
  border: 1px solid #aaaaaa;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  border-radius: 12px;
  padding-left: 1rem;
}
.contact .contact__wrapper .contact__wrapper-inputs form div .form__messege {
  border: 1px solid #aaaaaa;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  resize: horizontal;
  max-width: 760px;
  border-radius: 14px;
  padding-top: 1rem;
}
.contact .contact__wrapper .contact__wrapper-inputs .contact__button {
  margin: 25px 0px 50px;
  text-align: center;
}
.contact .contact__wrapper .contact__wrapper-inputs .contact__button button {
  padding: 10px 32px;
  size: 16px;
  border-radius: 100px;
  background-color: transparent;
  transition: all 0.5s;
  color: #bb2339;
  border: 2px solid #bb2339;
}
.contact .contact__wrapper .contact__wrapper-inputs .contact__button button:hover {
  background-color: #bb2339;
  color: white;
}